node_modules
config
tmp
docs
test
scripts
.github
*.db
*.db-journal
*.db-shm
*.db-wal
.env
.env.example
.git
.gitignore
docker-compose.yml
docker-compose.example.yml
README.md
SECURITY.md
*.log
.DS_Store
